//fonts
@import url("https://fonts.googleapis.com/css?family=Karla|Lato|Rubik");

$rubik: "Rubik", sans-serif;
$karla: "Karla", sans-serif;
// lato because google fonts doesnt have karla 'lighter' font
$lato: "Lato", sans-serif;

// Colors
$almostWhite: rgb(244, 250, 255);
$almostWhiteTransparant: rgba(244, 250, 255, 0.5);
$mainBlueColor: #3597ee;
$mainBlueColorTransparant: rgba(53, 151, 238, 0.5);
$greyColor: #636363;
$transparant: transparent !important;

//
%centerDiv {
  width: 75%;
  margin: 0 auto;
}
%buttonStyle {
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  color: white !important;
  cursor: pointer;
}
%cards {
  flex: 1 1 auto;
  padding: 1rem 0 2rem 0;
}
/****** Presets ******/
.hide-scrollbar ::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $rubik;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/****** Progress bar ******/
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;

  .progress-container {
    background: $almostWhite;
  }

  .progress-bar {
    height: 5px;
    width: 100%;
    background-color: $mainBlueColor;
  }
}

/****** Navigation bars ******/
#nav-bars {
  padding: 15px;
  width: min-content;
  width: -moz-min-content;
  float: right;

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 30px;
    cursor: pointer;

    div {
      align-self: flex-end;
      height: 4px;
      width: 100%;
      background: $mainBlueColor;
    }
    .meat {
      width: 75%;
      transition: all 200ms ease-in-out;
    }
    .bottom-bun {
      width: 50%;
      transition: all 400ms ease-in-out;
    }
    &:hover {
      div {
        width: 100%;
      }
    }
  }
}
/****** Navigation content  ******/
.nav-content {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $mainBlueColor;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  .line {
    height: 1px;
    border-bottom: 2px solid $almostWhiteTransparant;
  }

  &-header {
    @extend %centerDiv;
    padding: 70px 0 0 0;
    &-container {
      justify-content: space-between;
      .logo-header {
        padding: 0;
      }
      & i {
        font-size: 2.5rem;
        -webkit-text-stroke: 2px $mainBlueColor;
        color: white;
        padding: 0 20px;
        cursor: pointer;
      }
    }
  }

  &-center {
    align-self: center;
    width: 75%;

    ul {
      margin: 0;
      display: flex;

      li {
        display: none;
        float: left;
        display: flex;
        align-items: center;
        margin: 0 0.5rem;

        .first-item {
          font-size: 1.9rem;
          font-weight: 700;
        }
        &::before {
          content: "\2022";
          color: white;
          font-weight: bold;
          font-size: 1rem;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
        }
        a {
          align-items: center;
          padding: 8px 8px 8px 0;
          text-decoration: none;
          font-size: 1.1rem;
          font-weight: lighter;
          color: #f4faff;
          display: block;
          transition: 0.3s;
          text-transform: uppercase;
          font-family: $lato;
          &:hover {
            color: #dff5f3;
            text-decoration: none;
          }
        }
      }
    }
  }

  &-footer {
    @extend %centerDiv;
    padding: 0 0 70px 0;

    &-button {
      @extend %buttonStyle;
      border: 2px solid $almostWhiteTransparant;
      background-color: $mainBlueColor;
      transition: all 200ms ease-in;
      transform: scale(1);
      z-index: 99;

      &:hover {
        transition: all 200ms ease-in;
        transform: scale(1.2);
      }
    }

    &-links {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      & p {
        color: $almostWhite;
      }
      & a {
        cursor: pointer;
        text-transform: uppercase;
        & i {
          color: $almostWhite;
        }
      }
    }
  }
}

/****** header ******/
#homepage {
  .blue-header {
    height: 60vh;
    background-color: $mainBlueColor;

    .product {
      position: relative;
      &-img {
        position: absolute;
        top: 30vh;
        embed {
          width: 100%;
        }
      }
      &-text {
        color: white;
        font-size: 1rem;
        h3 {
          font-weight: 600;
        }
        p {
          font-family: $lato;
          font-weight: lighter;
        }
      }
    }
  }
}
/****** Footer ******/
footer {
  background-color: $mainBlueColor;
  color: white;
  margin: 50px 0 0 0;

  & .text-container {
    padding: 30px;
    &-box {
      & h5 {
        text-transform: uppercase;
      }
    }
  }
  & .contact-links {
    justify-content: space-around;
    &-con {
      display: flex;
      flex-direction: column;
      text-align: center;

      & i {
        font-size: 1.4rem;
      }
      & p {
        font-size: 0.8rem;
        text-transform: uppercase;
        font-family: $lato !important;
        font-weight: lighter;
        margin: 0;
      }
      & a {
        font-size: 0.6rem;
        text-transform: uppercase;
        font-family: $lato !important;

        & span {
          display: block;
        }
      }
    }
  }

  & #map {
    width: 100%;
    height: 200px;

    .mapboxgl-ctrl-bottom-left {
      display: none !important;
    }
    .mapboxgl-ctrl-bottom-right {
      display: none !important;
    }
  }
}

/****** Tips ******/

.tips-header {
  height: 40vh;
  display: flex;
  text-align: center;

  &-center {
    margin: 0 auto;

    & h5 {
      text-transform: uppercase;
      font-size: 1.9rem;
      color: $greyColor;
    }
    & i {
      font-size: 4rem;
      color: $greyColor;
      -webkit-text-stroke: 4px white;
      position: absolute !important;
    }
  }
}

.tips-container {
  text-align: center;
  margin-bottom: 50px;

  &-container {
    display: flex;
  }
  .line {
    height: 3px;
    width: 70%;
    background-color: $mainBlueColor;
  }
  img {
    width: 60%;
    height: auto;
    object-fit: contain;
  }

  &-animation-left {
    opacity: 0;
    margin-left: -300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: left !important;

    & p {
      font-family: $karla;
    }
    &-title {
      font-weight: 900;
      display: block !important;
      text-transform: uppercase;
    }
    .line {
      margin-right: auto !important;
    }
  }
  &-animation-right {
    opacity: 0;
    text-align: right !important;
    margin-left: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &-title {
      font-weight: 900;
      display: block !important;
      text-transform: uppercase;
    }
    .line {
      margin-left: auto !important;
    }
  }
}

/****** Product page ******/

.product-page {
  &-plan {
    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 2rem;

      & h5 {
        text-transform: uppercase;
        color: $mainBlueColor;
        font-family: 1.7rem;
      }
      & p {
        font-family: $karla;
      }
    }
    .card-container {
      justify-content: space-around;
      align-items: flex-start;

      .cardd {
        background-color: $transparant;
        width: 330px;
        text-align: center;
        justify-content: space-around;
        padding: 0;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

        &:hover {
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
        }

        &.active {
          background-color: $mainBlueColor !important;
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

          .cardd-headerr {
            & h5 {
              color: white !important;
            }
            & p {
              color: white;
            }
          }

          .cardd-body {
            & p {
              color: white;
            }
          }
          .cardd-footerr {
            &-button {
              border: 2px solid $almostWhiteTransparant !important;
              color: white !important;
              padding: 0.5rem 5rem;
              // color: $mainBlueColor;
              // transition: ease-in-out 3s;
            }
          }
        }

        &-headerr {
          @extend %cards;
          background-color: $transparant;
          padding: 2rem !important;

          & h5 {
            color: $mainBlueColor;
            font-size: 1.4rem;
          }
          & p {
            color: $mainBlueColor;
          }
        }
        &-body {
          background-color: $transparant;
          @extend %cards;

          &-text {
            color: $mainBlueColor;
            font-size: 2.5rem;
            & span {
              font-size: 1rem;
            }
          }
        }
        &-footerr {
          @extend %cards;
          background-color: $transparant;
          text-align: center;
          &-button {
            background-color: $transparant;
            border: 2px solid $mainBlueColorTransparant;
            padding: 0.5rem 5rem;
            color: $mainBlueColor;
            cursor: pointer;

            &:hover {
              color: $mainBlueColor !important;
            }
          }
        }
      }
    }
    .feature-container {
      justify-content: space-between;

      &-card {
        margin: 2rem 0;
        box-sizing: content-box;
        padding: 1rem 2.3rem;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        &-text {
          & h5 {
            color: $mainBlueColor;
            font-size: 1.7rem;
          }
        }
      }
    }
  }
}
@media (min-width: 1024px) and (max-width: 1199.99px) {
  .product-page {
    &-plan {
      .card-container {
        flex-wrap: wrap;
        flex-direction: column;
        .cardd {
          margin: 0 auto;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

/****** Tablet ******/
@media (min-width: 767.99px) and (max-width: 1024px) {
  /****** header ******/
  #homepage {
    .blue-header {
      .product {
        &-img {
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
  .product-page {
    &-plan {
      .card-container {
        flex-wrap: wrap;
        flex-direction: column;
        .cardd {
          margin: 0 auto;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
  .feature-container {
    justify-content: space-around;

    &-card {
      margin: 2rem 0;
      box-sizing: border-box;
      padding: 1rem !important;

      &-img {
        margin: 0 auto;
      }
    }
  }
}

/****** Mobile ******/
@media screen and (max-width: 767.98px) {
  /****** header ******/
  #homepage {
    .blue-header {
      height: 60vh;
      .product {
        &-text {
          margin-top: 80px !important;
          h3 {
            font-size: 1.2rem;
          }
          p {
            font-size: 0.9rem;
          }
        }
        &-img {
          top: 270px;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
  .nav-content {
    &-header {
      padding: 50px 0 0 0;
      & i {
        font-size: 2rem;
      }
    }
    &-center {
      & a {
        padding: 8px;
        font-size: 1.4rem !important;
      }
    }
    &-footer {
      padding: 0 0 50px 0;
    }
  }
  .tips-header {
    &-center {
      padding-top: 100px;

      & h5 {
        text-transform: uppercase;
        font-size: 1.2rem;
      }
    }
  }

  .tips-container {
    &-container {
      flex-wrap: wrap;

      & div {
        margin: 15px 0;
      }
    }
  }
  .product-page {
    &-plan {
      .card-container {
        flex-wrap: wrap;
        flex-direction: column;
        .cardd {
          margin: 0 auto;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
      .feature-container {
        justify-content: space-around;

        &-card {
          margin: 2rem 0;
          box-sizing: border-box;
          padding: 1rem !important;

          &-img {
            margin: 0 auto;
          }
        }
      }
    }
  }
}
@media screen and (max-height: 450px) {
  /****** Navigation ******/
  .nav-content {
    padding-top: 15px;
  }
}
