//fonts
@import url("https://fonts.googleapis.com/css?family=Karla|Lato|Rubik");

$rubik: "Rubik", sans-serif;
$karla: "Karla", sans-serif;
// lato because google fonts doesnt have karla 'lighter' font
$lato: "Lato", sans-serif;

// Colors
$almostWhite: rgb(244, 250, 255);
$almostWhiteTransparant: rgba(244, 250, 255, 0.5);
$mainBlueColor: #3597ee;

//
%centerDiv {
  width: 75%;
  margin: 0 auto;
}

/****** Presets ******/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $rubik;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/****** Progress bar ******/
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;

  .progress-container {
    background: $almostWhite;
  }

  .progress-bar {
    height: 5px;
    width: 0%;
    background-color: $mainBlueColor;
  }
}

/****** Navigation bars ******/
#nav-bars {
  padding: 15px;
  width: min-content;
  width: -moz-min-content;
  float: right;

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 30px;
    cursor: pointer;

    div {
      align-self: flex-end;
      height: 4px;
      width: 100%;
      background: $mainBlueColor;
    }
    .meat {
      width: 75%;
      transition: all 200ms ease-in-out;
    }
    .bottom-bun {
      width: 50%;
      transition: all 400ms ease-in-out;
    }
    &:hover {
      div {
        width: 100%;
      }
    }
  }
}
/****** Navigation content  ******/
.nav-content {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $mainBlueColor;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  .line {
    height: 1px;
    border-bottom: 2px solid $almostWhiteTransparant;
  }

  &-header {
    @extend %centerDiv;
    padding: 70px 0 0 0;
    &-container {
      justify-content: space-between;
      .logo-header {
        padding: 0;
      }
      & i {
        font-size: 2.5rem;
        -webkit-text-stroke: 2px $mainBlueColor;
        color: white;
        padding: 0 20px;
        cursor: pointer;
      }
    }
  }

  &-center {
    align-self: center;
    width: 75%;

    ul{
      margin: 0;
      display: flex;  
      li{
        // display: none;
        float: left;
        display: flex;
        align-items: center;
        margin: 0 0.5rem;

        .first-item{
          font-size: 1.9rem;
          font-weight: 700;

          &::before{
            display: none!important;
            content: none!important;
          }
        }
        &::before{
          content: "\2022";
          color: white;
          font-weight: bold;
          font-size: 5px;
          display: inline-block; 
          width: 1em;
          margin-left: -1em;
        }
        a {
          align-items: center;
          padding: 8px 8px 8px 0;
          text-decoration: none;
          font-size: 1.1rem;
          font-weight: lighter;
          color: #f4faff;
          display: block;
          transition: 0.3s;
          text-transform: uppercase;
          font-family: $lato;    
          &:hover {
            color: #dff5f3;
            text-decoration: none;
          }
        }
      }
    }
  }

  &-footer {
    @extend %centerDiv;
    padding: 0 0 70px 0;

    &-button {
      text-align: center;
      border: 2px solid $almostWhiteTransparant;
      padding: 10px;
      color: white !important;
      cursor: pointer;
    }

    &-links {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      & p {
        color: $almostWhite;
      }
      & a {
        cursor: pointer;
        & i {
          color: $almostWhite;
        }
      }
    }
  }
}

/****** header ******/
#homepage {
  .blue-header {
    height: 50vh;
    background-color: $mainBlueColor;

    .product {
      position: relative;
      &-img {
        position: absolute;
        top: 25vh;
        embed {
          width: 100%;
        }
      }
      &-text {
        color: white;
        font-size: 1rem;
        h3 {
          font-weight: 600;
        }
        p {
          font-family: $lato;
          font-weight: lighter;
        }
      }
    }
  }
}

/****** Tablet ******/
@media (min-width: 767.99px) and (max-width: 1024px) {
  /****** header ******/
  #homepage {
    .blue-header {
      .product {
        &-img {
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}
/****** Mobile ******/
@media screen and (max-width: 767.98px) {
  /****** header ******/
  #homepage {
    .blue-header {
      height: 60vh;
      .product {
        &-text {
          margin-top: 80px !important;
          h3 {
            font-size: 1.2rem;
          }
          p {
            font-size: 0.9rem;
          }
        }
        &-img {
          top: 270px;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
  .nav-content {
    &-header {
      padding: 50px 0 0 0;
      & i {
        font-size: 2rem;
      }
    }
    &-center {
      & a {
        padding: 8px;
      }
    }
    &-footer {
      padding: 0 0 50px 0;
    }
  }
}
@media screen and (max-height: 450px) {
  /****** Navigation ******/
  .nav-content {
    padding-top: 15px;
  }
}
